# String

In [ ]:
a=10
print(type(a))
f=1.234
print(type(f))

In [ ]:
#single quotes and double quotes
s1='Talentica'
s2="Talentica"
print(s1)
print(s2)
print(type(s1))

In [ ]:
print('Hello World')

In [ ]:
#multi line string
s1='''Talentica
Software'''
print(s1)

s2="""Talentica
Software"""
print(s2)

In [ ]:
#slicing of strings

In [ ]:
s1='Talentica'
s1[0]

In [ ]:
s1[2]

In [ ]:
s1[-1]

In [ ]:
s1[20]

# List

In [ ]:
list1=[10,20,30,40]
print(type(list1))
list1[0]

In [ ]:
list1[-1]

In [ ]:
list1[1:3]

In [ ]:
list1[0]=100

for i in list1:
    print(i)

In [ ]:
#list is growable in nature[we can increase or decrease the size]

In [ ]:
list1=[10,20,30,40]
list1.append('Talentica')

In [ ]:
list1

In [ ]:
list1.remove(20)

In [ ]:
list1

In [ ]:
list2=list1*2
list2

In [ ]:
print(dir(list2))

# Tuple

In [ ]:
t=(10,20,30,40)
type(t)

In [ ]:
t[0]=100

In [ ]:
t.append('Talentica')

In [ ]:
t.remove(10)

# Dict

In [ ]:
d={1:'Amit',2:'Alakh',3:'Talentica'}
d

In [ ]:
print(type(d))

In [ ]:
d[1]

In [ ]:
d[2]

In [ ]:
#empty dict
d1={}
d1['a']='apple'
d1['b']='banana'
print(d1)

In [ ]:
# Example Creating a dictionary with unique keys and duplicate values
fruit_colors = {
    'apple': 'red',
    'banana': 'yellow',
    'orange': 'orange',
    'grape': 'purple',
    'kiwi': 'green',
    'watermelon': 'green'
}

print(fruit_colors)

In [ ]:
# Example: Modifying values using keys
fruit_colors['apple'] = 'green'
print(fruit_colors['apple'])

In [ ]:
# Example: Attempting to create a dictionary with duplicate keys
student_scores = {
    'Alice': 85,
    'Bob': 'apple',
    'Alice': 78  # Duplicate key 'Alice'
}

# This will result in a dictionary with only one entry for 'Alice'
print(student_scores)

# Set Data Type

In [ ]:
s={100,300,400,'Talentica',200}
print(s)

In [ ]:
s[0]

In [ ]:
print(s)

In [ ]:
s.add(200) #duplicate
s

In [ ]:
s.add(600)
s

In [ ]:
s.remove(300)

In [ ]:
s.remove(100)
print(s)

# frozenset Data Type

In [ ]:
s={10,20,30,40,50}
print(type(s))
fs=frozenset(s)
type(fs)
print(fs)

In [ ]:
fs.add(70)

In [ ]:
fs.remove(10)

# Logical Operators

In [ ]:
x = True
y = False

result = x and y
print(result)  # Output: False

In [ ]:
x = True
y = False

result = x or y
print(result)  # Output: True

In [ ]:
x = True

result = not x
print(result)  # Output: False

In [ ]:
a = 10
b = 15
c = 5

# Using logical operators to combine conditions
result1 = (a < b) and (b > c)
result2 = (a < b) or (c > b)
result3 = not (a == b)

print(result1)  # Output: True (Both conditions are True)
print(result2)  # Output: True (At least one condition is True)
print(result3)  # Output: True (The opposite of a == b is True)

# Flow Control

In [ ]:
#Conditional Statement

In [3]:
name=input('Enter your name:')
if name=='Talentica':
    print('Hello Talentica')

print('How are you')

IndentationError: expected an indented block after 'if' statement on line 2 (3727416540.py, line 3)

In [5]:
name=input('Enter your name:')
if name=='Talentica':
    print('Hello Talentica')
else:
    print('Hello Guest')

Enter your name:python
Hello Guest

In [6]:
brand=input('Enter your favourite brand')
if brand=='FK':
    print('it is Flipkart')
elif brand=='AN':
    print('it is Amazon')
    
elif brand=='MA':
    print('it is Myntra')
    
else:
    print('Others Brand are not recommended')

Enter your favourite brandFK
it is Flipkart

In [ ]:
#iterative statement

In [7]:
s='Talentica'
for x in s:
    print(x)

T
a
l
e
n
t
i
c
a

In [8]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
#while loop

count = 1
while count <= 5:
    print(count)
    count += 1  # Increment count by 1 in each iteration

1
2
3
4
5

In [ ]:
#Transfer Statements

In [10]:
#break
for i in range(10):
    if i==7:
        print("Processing is enough")
        break
    print(i)

0
1
2
3
4
5
6
Processing is enough

In [11]:
#continue
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [12]:
#pass
for i in range(100):
    if i%9==0:
        print(i)
    else:
        pass

0
9
18
27
36
45
54
63
72
81
90
99

# Function

In [13]:
def wish(name):
    print("Hello",name,"Good Morning")
wish('Amit')

Hello Amit Good Morning

In [14]:
def add(x,y):
    return x+y

result=add(10,20)
print('The sum is',result)

The sum is 30

In [15]:
#positional arguments

def sub(a,b):
    print(a-b)

sub(200,100)

sub(100,200)

sub(200,300,100)

100
-100

TypeError: sub() takes 2 positional arguments but 3 were given

In [16]:
#Keyword arguments

def wish(name,msg):
    print("Hello",name,msg)

wish(name='Amit',msg='Good Morning')
wish(msg='Good Morning',name='Amit',)

Hello Amit Good Morning
Hello Amit Good Morning

In [17]:
#default arguments

def wish(name='Guest'):
    print('Hello',name,'Good Morning')
    
wish('Amit')
wish()

Hello Amit Good Morning
Hello Guest Good Morning

In [18]:
#Varaible length Arguments

def sum(*n):
    total=0
    for n1 in n:
        total=total+n1
    print('The Sum=',total)
    
sum()
sum(10)
sum(10,20)
sum(10,20,30,40,50)

The Sum= 0
The Sum= 10
The Sum= 30
The Sum= 150